%body{:onload => "test()"}

.container
  <!--This is all the text for personal space avoiders game. -->
  %h1= t('.personalspaceInvadersTitle')
  %p= t('.personalspaceInvadersDescription')
  %p= t('.personalspaceInvadersExplanation')
  %p= t('.personalspaceInvadersLeaderBoard')
  %p= t('.personalspaceInvadersWindows')
  = link_to "Here","/PersonalSpaceInvaders(windows).zip"
  %p= t('.personalspaceInvadersMac')
  = link_to "Here","/PersonalSpaceInvaders(mac).zip"
  %body
    .container-fluid
      %title= t('.page_title')
      %h2= t('.game_title')
      %p= t('.game_desc')
      %p= t('.game_desc2')
      %h4="Possible answers:"
      %p="mask, sanitiser, yes, 2m, boris, december2019"


      .form
        %label{:for => "guessField"}
          ="Guess:"
        %input#guessField.guessField{:type => "text"}/
        %input#submitguess.guessSubmit{:type => "submit", :value => "Submit guess"}/
        <button onClick="window.location.reload();">Play</button>
      

      %footer
      %p.pull-right
        %a{:href => "#"} Back to top
      %p
        \© 2020 Pan Pal Inc. ·
